<!DOCTYPE html>
<html lang="{{ lang }}">

	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{title}} &#149; {{site._title}}</title>

		<meta name="author" content="{{ site._authors }}">
		<meta name="apple-mobile-web-app-title" content="Discover Moti">
		<meta name="robots" content="index, follow">

		<meta name="description" content="{{ description }}">
		<meta name="keywords" content="{{ keywords }}">

		{{> site/html5shim }}

		{{> site/modernizr-js }}

		{{> site/css }}

	</head>


