<div class="masthead clearfix">

	<div class="inner">

		<h3 class="masthead-brand"><a href="http://weareleka.com"><img src="{{ site._img }}/logo-leka.svg" alt="Leka Logo" class="logo-nav"></a></h3>

		<ul class="nav masthead-nav">

			<li class="active"><a href="/{{ lang }}">Home</a></li>
			<li><a href="/{{ lang }}/moti">Moti</a></li>
			<li><a href="/{{ lang }}/faq">FAQ</a></li>
			<li><a href="/{{ lang }}/preorder">Précommande</a></li>
			<li><a href="/{{ lang }}/contact">Contact</a></li>

		</ul>

	</div>

</div>

