
<div class="site-wrapper">

	<div class="site-wrapper-inner">

		<div class="cover-container">

			<div class="masthead">

				<div class="header">

					<h3 class="masthead-brand"><a href="http://weareleka.com"><img src="{{ site._img }}/logo-leka.svg" alt="Leka Logo" class="logo-nav"></a></h3>

					<ul class="nav masthead-nav">

						<li id="home" class="active"><a href="/{{ lang }}">Home</a></li>
						<li><a href="/{{ lang }}/moti">Moti</a></li>
						<li><a href="/{{ lang }}/faq">FAQ</a></li>
						<li><a href="/{{ lang }}/preorder">Précommander</a></li>
						<li><a href="/{{ lang }}/contact">Contact</a></li>

					</ul>

				</div>

			</div>

			<div class="cover">

				<img src="{{ site._img }}/logo-moti.svg" alt="Moti Logo" class="logo-front">

				<h1 class="cover-heading">Voici Moti</h1>
				<p class="lead">une nouvelle manière de jouer, d'apprendre et un nouvel ami</p>
				<p class="lead">
					<a href="/{{ lang }}/moti"><button class="btn btn--primary">Découvrez Moti</button></a>
					<a href="/{{ lang }}/preorder"><button class="btn btn--secondary">Précommandez</button></a>
				</p>
			</div>

		</div>

	</div>

</div>


